.site-container-blog {
    width: $site-width-blog;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;

    @media(max-width: 768px) {
        width: 560px;
    }
}

.page-blog {
    margin: 65px 0;
}

.page-single-blog {
    margin-top: 65px;
}

.post-list {

    .post-item {
        margin-bottom: 36px;
        padding-bottom: 36px;
        border-bottom: solid 1px #eee;

        .post-title {

        } 

        .post-metas {
            display: flex;
            color: #222;

            > * {
                margin-right: 16px;
            }
        }

        .post-excerpt {
            margin-top: 6px;
            margin-bottom: 16px;
        }

        .read-more {
            display: flex;
            align-items: center;
            white-space: nowrap;
            
            .arrow-icon {
                width: 20px;
                height: auto;
                line-height: 0;
                margin-left: 10px;

                svg {
                    transition: .3s ease;
                    -webkit-transition: .3s ease;
                }
            }

            &:hover {
                
                .arrow-icon {
                    
                    svg {
                        fill: $accent-color;
                        transform: translateX(6px);
                        -webkit-transform: translateX(6px);
                    }
                }
            }
        }
    }
}

.page-single-blog {

    .__excerpt {
        margin-bottom: 16px;
    }

    .__content {

    }
}

.comments {
    background: #fafafa;
    margin-top: 65px;
    padding-top: 45px;
    padding-bottom: 45px;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    
    .comments-inner {
        width: $site-width-blog;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: border-box; 
    }
}