header.main-header {
    box-shadow: 0 2px 4px rgba(3,27,78,.1);
    background: #FFF;
    z-index: 30;

    .header-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px 0;
    }

    .__is-sticky {
        position: sticky;
        top: 0;
    }
}

.site-brand {
    margin-right: 45px;
}

.site-navigation {

    ul.menu {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            a {
                font-size: .9em;
                color: $link-color;
                font-family: $heading-font;
                font-weight: 400;
            }

            &:hover {

                > a {
                    color: $accent-color;
                }
            }

            > a.nuxt-link-exact-active {
                color: $accent-color;
            }
        }

        > li {

            &:not(:last-child) {
                margin-right: 25px;
            }
        }
    }

}

.main-header {

    .site-navigation {

        @media(max-width: 848px) {
            display: none;
        }
    }
}

.site-tools {
    margin-left: auto;

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li {
            list-style: none;
        }

        li.register-button {

            @media(max-width: 848px) {
                display: none;
            }
        }

        li.menu-mobile-button {
            margin-left: 16px;
            display: none;

            @media(max-width: 848px) {
                display: flex;
            }

            .button-menu-offcanvas-toggle {
                display: inline-block;
                width: 28px;
                line-height: 0;

                svg {
                    width: 100%;
                }
            }
        }
    }
}

.header-top {
    border-bottom: 1px solid #e5e8ed;
    padding: 8px 0; 

    @media(max-width: 848px) {
        background: #f9f9f9;
    }
}

.header-top--menu {
    font-family: $heading-font;

    ul.menu {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            list-style: none;

            a {
                font-size: .9em;
            }

            &:nth-child(2) {
                margin-left: auto;
            }

            &:not(:last-child) {
                margin-right: 15px;
            }

            &.upcoming-item {

                .__tag {
                    display: inline-block;
                    padding: 4px;
                    background: #348fff;
                    color: #FFF;
                    line-height: normal;
                    font-size: .8em;
                    font-weight: normal;
                    border-radius: 3px;
                }

                @media(max-width: 848px) { 
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            @media(max-width: 848px) {
                
                &:not(.upcoming-item) {
                    display: none;
                }
            }
        }
    }
}
