$site-width: 1120px !default;
$global-font: 'Arial', sans-serif !default;
$heading-font: 'Arial', sans-serif !default;
$global-font-size: 16px !default;
$body-color: #555 !default;
$heading-color: #031b4e !default;
$link-color: #031b4e !default;
$accent-color: #ff6b00 !default;

$site-width-blog: 760px !default;